.btn_custom {
    height: 24px;
    width: 70px;
    line-height: 24px;
    margin: 5px;
    padding: 0px 8px;
}

.word_header {
    margin-top: 5px;
}

.logo_style {
    margin-left: 5px;
}

body {
    background-color: #D3D3D3;
}

