{% extends 'base.html'%} 
{% block content %}

<h3>Edit Word</h3>

<div class="row">
    <form action="{{url_for('insert_word')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="word_name" name="word_name" type="text" class="validate">
                <label for="icon_prefix">Word</label>
            </div>
            <div class="input-field col s12">
                <textarea name="definition" id="definition" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Definition</label>
            </div>
        </div>
        
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Word
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}
